.wrapper {
   font-size: 18px;

   display: table;
   justify-items: center;
   margin: 30px auto;

   &__current {
      padding: 7px;
      margin: 0 3px;

      border: 1px solid gray;
      font-weight: bold;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 0 3px rgba(100, 100, 100, 0.7);
   }
   &__current:hover {
      box-shadow: 0 0 10px rgba(100, 100, 100, 0.7);
   }

   &__page {
      justify-content: space-between;
      padding: 5px;
      margin: 0 3px;

      border: 1px solid gray;
      border-radius: 5px;
      cursor: pointer;
   }
   &__page:hover {
      box-shadow: 0 0 10px rgba(100, 100, 100, 0.7);
   }
}
